<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand logo-text" *ngIf="!isLogged" routerLink="">Ma Banque en Ligne</a>
  <a class="navbar-brand logo-text" *ngIf="isLogged" routerLink="/account">Ma Banque en Ligne</a>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!isLogged" routerLink="">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" *ngIf="isLogged" routerLink="/account">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">A propos</a>
      </li>
    </ul>
    <div *ngIf="isLogged">
        <strong>Welcome {{user.username}}</strong>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="onLogout()">Logout</button>
    </div>
    
  </div>
</nav>