  <!--<div class="card-footer text-muted container-row">
    <div>
      <img class="mb-1" src="../../assets/copyright.png" alt="Tous droits réservés" width="20" height="20"> 
      <span class="px-2">Tous droits réservés.</span>
    </div>  
     
  </div>-->

  <footer>
    <div class="card-footer text-muted container-row">
      <ul class="navbar-nav mr-auto container-col">
        <li class="nav-item">
          <a routerLink="/account" class="navbar-brand text-footer"> Haut de page</a>
        </li>
      </ul>
      <div class="container-col">
        <address class="address">
          <i class="nom">Bouaffar hichem </i>
        </address>
        <ul class="navbar-nav container-row icons-rs">
          <li class="nav-item">
            <a href="https://github.com/hichembou21" target="_blank" class="navbar-brand text-footer"><img class="rounded-circle icon-fb1" src="assets/github.png" alt="logo github" width="30" height="30"></a>
          </li>
          <li class="nav-item">
            <a href="https://www.youtube.com/channel/UCzDz77rmUGxbl_RVURgbW1g?view_as=subscriber" target="_blank" class="navbar-brand text-footer"><img class="rounded-circle icon-fb1" src="assets/linkedin.png" alt="logo linkedin" width="30" height="30"></a>
          </li>
        </ul>
    </div>
    </div>
</footer>
