<div class="col-md-6 spacer3">
    <section class="container">
        <div class="alert alert-danger" *ngIf="errorMessage">
          <strong>{{errorMessage.message}}</strong>
        </div>
       
        <div class="card">
            <div class="card-header bg-primary">Ajout Nouveau Employé </div>
            <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="onRegisration(f.value)">
                        <div class="form-group">
                            <label for="inputLogin" class="control-label">Name</label>
                            <input type="text" class="form-control" id="inputLogin" aria-describedby="emailHelp" placeholder="Enter Your Name"
                                    ngModel name="name" #name="ngModel">
                        </div>
                        <div class="form-group">
                            <label for="inputLogin" class="control-label">Username</label>
                            <input type="text" class="form-control" id="inputLogin" aria-describedby="emailHelp" placeholder="Enter Your Username"
                                    ngModel name="username" #username="ngModel">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="control-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                                    ngModel name="password" #password="ngModel">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="control-label">Confirm Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password"
                                    ngModel name="confirmPassword" #password="ngModel">
                        </div>
                        <div class="form-group">
                            
                            <input type="hidden" class="form-control" id="inputPassword" placeholder="Confirm Password"
                                    ngModel name="employeSup" #password="ngModel">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
        </div>
    
    </section>
    </div>