<section>
  <div class="container row spacer">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="card border-secondary spacer">
      <div class="card-header"> Compte </div>
      <div class="card-body">
        <form>
            <div class="form-group">
                <label for="inputCodeCompte">Code Compte</label>
                <input type="text" class="form-control" id="inputCodeCompte" aria-describedby="emailHelp" placeholder="Enter code compte"
                        [(ngModel)]="codeCompte1" [ngModelOptions]="{standalone: true}" >
            </div>
            <div class="form-group error-message" *ngIf="errorMessage.messageCpt">
              <label>{{errorMessage.messageCpt}}</label>
            </div>
            
            <button type="submit" class="btn btn-primary" (click)="search()">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12 col-6">
    <div *ngIf="compte!=null">
        <div class="card border-secondary spacer">
            <div class="card-header">Info Compte </div>
        
            <div class="card-body">
            
                    <h5 *ngIf="compte.type_compte == 'CC'">Compte Courrant</h5>
                    <h5 *ngIf="compte.type_compte == 'CE'">Compte Epargne</h5>
                    <div>
                      <label>Code Compte : &nbsp;</label>
                      <label>{{compte.code}}</label>
                    </div>
                    <div>
                      <label>Client : &nbsp;</label>
                      <label>{{compte.client.username}}</label>
                    </div>
                    <div>
                      <label>Date Creation : &nbsp;</label>
                      <label>{{compte.dateCreation | date: 'dd/MM/yyyy h:mm a' }}</label>
                    </div>
                    <div>
                      <label>Solde : &nbsp;</label>
                      <label>{{compte.solde}} €</label> 
                    </div>
                    <div *ngIf="compte.taux">
                      <label>Taux : &nbsp;</label>
                      <label>{{compte.taux}} %</label> 
                    </div> 
                    <div *ngIf="compte.decouvert">
                      <label>Decouvert : &nbsp;</label>
                      <label>{{compte.decouvert}} €</label> 
                    </div>              
            </div>
        </div>
    </div>
  </div>
  </div>    

  <div class="container row spacer" *ngIf="compte">
      <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="card border-secondary spacer">
                <div class="card-header">
                  Operation
                </div>
                <div class="card-body">
                  <div class="form-group">
                    
                      <label class="radio-inline spacer2" *ngIf="isEmploye">
                        <input type="radio" [(ngModel)]="typeOperation" value="crediter">
                        Versement  
                      </label>
                                    
                      <label class="radio-inline spacer2" *ngIf="isEmploye"> 
                        <input type="radio" [(ngModel)]="typeOperation" value="debiter"> 
                        Retrait 
                      </label>
                                            
                      <label class="radio-inline spacer2"> 
                        <input type="radio" [(ngModel)]="typeOperation" value="virement">
                        Virement  
                      </label>
                      <div class="form-group" *ngIf="typeOperation == 'virement'">
                        <label>Compte bénéficiaire : </label>
                        <input type="text" [(ngModel)]="codeCompte2">
                      </div>   
                      <div class="form-group" *ngIf="typeOperation == 'virement' || typeOperation == 'debiter' || typeOperation == 'crediter'">
                        <label>Montant :</label>
                        <input type="text" [(ngModel)]="montant">
                      </div> 
                      <div class="form-group error-message" *ngIf="errorMessage.messageOp">
                        <label>{{errorMessage.messageOp}}</label>
                      </div>                           
                  </div>
                  <a class="btn btn-primary" (click)="addOperation()">Ok</a>
                </div>
          </div>
      </div>
    
      <div class="col-md-8 col-sm-8 col-xs-12" *ngIf="operations">
        <div class="card border-secondary spacer">
          <div class="card-header">List Operations </div>
        
          <div class="card-body">
          <table class="table table-striped">
              <thead>
                  <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Date Operation</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Type</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let op of operations.operations; index as i">
                    <th scope="row">{{op.numero}}</th>
                    <td>{{op.dateOperation | date: 'dd/MM/yyyy h:mm a' }}</td>
                    <td>{{op.montant}} €</td>
                    <td *ngIf="op.type_ops == 'C'">{{op.type_ops}} +</td>
                    <td *ngIf="op.type_ops == 'D'">{{op.type_ops}} -</td>
                  </tr>
              </tbody>
          </table>
          </div>
          <div>
            <nav aria-label="..." class="mr-4">
              <ul class="pagination justify-content-end">
                
                <li [ngClass]="{active : i==currentPage}" *ngFor="let page of totalPages; index as i" class="page-item clickable">
                  <a class="page-link" (click)="goToPage(i)">{{i}}</a>
                </li>
                
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    

</section>

