<section>
    <div>
      <button class="btn btn-primary">Consulter Compte</button>
      <button class="btn btn-primary">Ajouter Client</button>
    </div>
    <div class="alert alert-danger">
        <strong>Account Welcome {{user.username}}</strong>
    </div>

  <!-- <table class="table" *ngIf="clients">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Birthdate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients; index as i">
          <th scope="row">{{client.id}}</th>
          <td>{{client.nom}}</td>
          <td>{{client.prenom}}</td>
          <td>{{client.dateNaissance |  date :  "dd.MM.y"}}</td>
        </tr>
      </tbody>
    </table> -->

</section>
