<section class="account-section">

    <div class="container mt-3" *ngIf="currentUser">
      <div class="card">
        <div class="card-header bg-info">Welcome</div>
        <div class="card-body">
            <div class="alert alert-success" *ngIf="message">
                <strong>{{message}}</strong>
            </div>
            <div class="container mt-2">
                <span class="px-2">
                  <button type="button" class="btn btn-primary" (click)="showCompte()">Consulter Compte</button>
                </span>
                <span class="px-2">
                    <button type="button" class="btn btn-primary" *ngIf="isEmploye" (click)="addCompte()">Ajouter Compte</button>
                </span>
                <span class="px-2">
                  <button type="button" class="btn btn-primary" *ngIf="isEmploye" (click)="addClient()">Ajouter Client</button>
                </span>
                <span class="px-2">
                  <button type="button" class="btn btn-primary" *ngIf="isAdmin" (click)="AddEmploye()">Ajouter Employé</button>
                </span>
            </div>
            <div class="mt-2">
              <strong>Welcome {{currentUser.username}}</strong>
              <p></p>
              <span>{{currentUser.name}}</span>
              <p></p>
              <span *ngIf="currentUser.email">{{currentUser.email}}</span>
            </div>
        </div>
      </div>
    </div>

</section>
